*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}
.acesso{
    background-color: black;
    width: 100%;
    color: white;
    padding: 7px;
    text-align: center;
}
.centralizada{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 98%;
       
}
.headsubhead{
    padding: 12px 0 12px 0;
}
.headsubhead h1 {

    padding: 7px;
}
.boximg{
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
}
.imgebook {
    position:absolute;
    width: 350px;
    transform: rotate(270deg);
    padding: 8px;
    
}
.primeirobotao{
    padding: 20px;
    font-size: 23px;
}
.de{
    text-align: left;
}
.precoantigo{
    color: red;
}
.precoatual{
   display: flex;
   padding-bottom: 7px;
}
.por {
    text-align: left;
}
.preco{
    color: green;
    font-size: 52px;
}
.botao{
    font-size: 32px;
    background-color: rgb(0, 245, 0);
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;
}
.botao:hover{
    background-color: black;
    color:  rgb(0, 245, 0);
    transform: scale(1.1)
}
.container-slider{
    width: 95%;
    height: 80vh;/*quando for iphone SE = 100vh*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}
#prev-button {
    transform: rotate(180deg);
}
.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;

}
.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }
  
  .on {
    opacity: 1;
  }
  .bulletpoints{
    padding: 15px;
  }
  .bulletpoints h3{
    padding: 7px;
  }
  .bonus{
    background-color: rgb(163, 255, 155);
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
  }
  .bonus h3{
    padding: 7px;
  }
  .rodape{
    font-size: 15px;
    padding: 15px;
  }